<!-- ./views/show.handlebars -->
<div class='container py-5'>
  <div class='text-center'>
    <h1 class='mb-4'>{{restaurant.name}}</h1>
    <img class='rounded mb-4' src='{{restaurant.image}}' alt='Card image cap' style='max-height: 300px;' />
    <div class='row'>
      <div class='col-12 col-md-10 col-lg-8 mx-auto'>
        <p>
          <a href='{{restaurant.google_map}}' target='_blank' class='text-reset'>
            <strong>Location:</strong>
            {{restaurant.location}}
          </a>
        </p>
        <p>
          <strong>Telephone:</strong>
          {{restaurant.phone}}
        </p>
        <p>
          <strong>Description:</strong>
          {{restaurant.description}}
        </p>
      </div>
    </div>
  </div>

</div>